.stats-item{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 300px;
    margin:10px 0;
    font-size: 21px;
    text-align:right;
}
.stats-item span{
    margin-left: 7px;
    font-weight: 600;
}
.stats-item .fa-star{
    color:#D8232A;
}
.stats-item h4{
    margin-bottom: .2rem;
}
